{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
{% if user.is_authenticated %}
  <h2> Welcome to KU POLLS, {{ user.first_name }} {{ user.last_name }}</h2>
  <a href="{% url 'logout' %}">Click here To Logout!</a>
{% else %}
  <h2> Welcome to KU POLLS</h2>
  You can view only the result  <a href="{% url 'login' %}">Login here</a>
{% endif %}
{% if messages %}
<ul class="messages">
  {% for msg in messages %}
    <li class="{{msg.tags}}">{{ msg }}</li>
  {% endfor %}
</ul>
{% endif %}

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        <br> <a href="{% url 'polls:detail' question.id %}"> <button class="Vote_button" {% if not question.can_vote %} disabled {% endif %} >Vote</button> </a>
        <button><a href="{% url 'polls:results' question.id %}">Result</a></button>
        <!-- <a class="btn btn-primary" href="{% url 'polls:detail' question.id %}">Vote</a>
        <a class="btn btn-primary" href="{% url 'polls:detail' question.id %}">Result</a> -->
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

